/*global stlyes*/

a{
  text-decoration: none;
  color: black;
}
/*
local styles*/

header  {
  position: fixed;
  z-index: 1000;
  background: white;
  width: 100%;
  height: 120px;
  margin-bottom: 100px;
  border-bottom: 2px solid black;
}

header div  {
  height: 120px;
  width: 960px;
  margin: 0 auto;
}

h1  {
  float: left;
  font-size: 70px;
  margin-top: 50px;
  font-family: 'Pacifico', cursive;
  color: black;
}

h1:hover {
  opacity: .5;
}

header ul{
  float: right;
  margin-top: 40px;
}

header ul li  {
  display: inline-block;
  margin-left: 50px;
  margin-top: 45px;
  color: #444;
  font-size: 30px;
}

header ul li:hover {
  opacity: .5;
}

header ul li img.social-links {
  margin-right: 10px;
}

header ul li img.social-links {
  height: 25px;
  width: 25px;
}



main  {
  width: 960px;
  margin: 0 auto;
  padding-top: 150px;
}

section {
  margin-top: 50px;
}

main img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border: solid black 5px;
  margin-right: 50px;
}

p   {
  display: inline-block;
  width: 600px;
  height: 200px;
  font-family: 'Dosis', sans-serif;
  font-size: 30px;
}

footer {
  position: relative;
  height: 200px;
  background: black;
  margin-top: 100px;
}


footer ul{
  float: right;
  margin-right: 40px;
}

footer ul li  {
  display: inline-block;
  margin-left: 50px;
  margin-top: 45px;
  color: #444;
  font-size: 30px;
}

footer ul li:hover {
  opacity: .5;
}

footer ul li img.social-links {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

footer p {
  position: absolute;
  color: white;
  width: 100%;
  height: 30px;
  bottom: 10px;
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}
